<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>translate</servlet-name>
        <servlet-class>com.translator.TranslatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>populate</servlet-name>
        <servlet-class>com.translator.PopulateDatastoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>spanishWorker</servlet-name>
        <servlet-class>com.translator.SpanishWorker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transWorker</servlet-name>
        <servlet-class>com.translator.TranslationWorker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>englishWorker</servlet-name>
        <servlet-class>com.translator.EnglishWorker</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name>translate</servlet-name>
        <url-pattern>/translate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>populate</servlet-name>
        <url-pattern>/populate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>spanishWorker</servlet-name>
        <url-pattern>/spanishWorker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transWorker</servlet-name>
        <url-pattern>/transWorker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>englishWorker</servlet-name>
        <url-pattern>/englishWorker</url-pattern>
    </servlet-mapping>

    
    <welcome-file-list>
        <welcome-file>translateHome.jsp</welcome-file>
    </welcome-file-list>
</web-app>